<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Comment Author</th>
            <th>Approve/Disapprove</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr>
            <td>{{id}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td><input {{#if approveComment}} checked {{/if}} data-id="{{id}}" type="checkbox" name="approveComment"></td>
            <td>{{prettyPrintDate date "MMMM Do YYYY"}}</td>
            <td><a href="/admin/comments/view/{{slug}}"</td>
            <td><form action="/admin/comments/delete/{{slug}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>